<style>
    #contenedor{
        margin: 20px;
        color:black;    
    }

    #margintop{
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #borderInputs{
        border: 1px solid black;
    }

</style>

<div id="contenedor">
    <p style="margin-bottom: 5px;">Nombre de restaurante</p>
    <input type="text" id="borderInputs">

    <p id="margintop">Dirección</p>
    <input type="text" id="borderInputs">

    <p id="margintop">Horarios</p>
    <input type="text" id="borderInputs">

    <p id="margintop">Especialidades</p>
    <input type="text" id="borderInputs">

    <p id="margintop">Descripción</p>
    <input type="text" id="borderInputs">

    <hr style="color: white"> 

    <button>Enviar</button>
</div>